<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/css.css">
    <script src="__PUBLIC__/Admin/js/jquery-1.9.1.js"></script>
    <script src="__PUBLIC__/Common/Layer/layer.js"></script>

</head>
<body>
<form action="__URL__/add_excel_ok1" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" name="sub" value="导入">
<span id="upload"></span>
    <div>请选择excel2007表格数据</div>
</form>
</body>
</html>